{% extends "feed/base.html" %}
{% load static %}

{% block title %} - O projekcie {% endblock %}
{% block content %}
    <div class="row text-block-center">
        <h1>O projekcie</h1>
        <p style="text-align: justify;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
    <div class="row text-block-center">
        <h1>Teoria inokulacji</h1>
        <p style="text-align: justify;">
            Teoria inokulacji przyjmuje koncepcję szczepienia, gdzie jesteśmy narażeni na <span>słabą formę wirusa w celu zbudowania odporności</span> na prawdziwego wirusa i zastosowania go do wiedzy.
            Pół wieku badań odkryło, że kiedy jesteśmy narażeni na słabą formę cyberprzemocy, pomaga nam to budować opór, abyśmy w przypadku spotkania z prawdziwą wersją nie dali się złapać!
        </p>
    </div>
    <div class="row text-block-center">
        <h1>Dlaczego?</h1>
        <p style="text-align: justify;">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>

{% endblock %}

