{% extends "feed/base.html" %}
{% load static %}

{% block title %} O projekcie.{% endblock %}
{% block content %}
    <div class="row text-block-center">
        <h1>O projekcie</h1>
        <p style="text-align: justify;">
            Hejter. to unikatowa aplikacja webowa wykorzystująca psychologię oraz grywalizację, aby pokazać rodzicom czym jest cybeprzemoc - zamieniając ich w hejterów. Aplikacja wykorzystując proste i intuicyjne interakcje, przeprowadza rodzica przez scenariusze gdzie jego celem jest podejmowanie poprawnych decyzji ... a wszystko okruszone humorem!
        </p>
    </div>
    <div class="row text-block-center">
        <h1>Jak pokazać dorosłym czym jest hejt?</h1>
        <p style="text-align: justify;">
            Hejterzy gardzą innymi osobami w Internecie, a można te działania zobaczyć chociażby w postach na Facebooku czy Instagramie. Hejt można znaleźć też na forach dyskusyjnych, dotyczących polityki, światopoglądu, czy problemów społecznych.
            <br><br>
            <span>Hejtowana jest co czwarta osoba w Internecie.</span> Aż 11 procent internautów przyznaje, że zdarza im się hejtować w sieci... pomimo tego, nastolatkowie cały czas nie mogą otwarcie rozmawiać z rodzicami o cyberprzemocy ponieważ ich rodzice po prostu jej nie doświadczyli, bądź nie rozpoznali. 
            <br><br>
            Problemem, którego się podjąłem był brak świadomości o zagrożeniach i niebezpieczeństwach, które spotykają ich dzieci wśród rodziców.
        </p>
    </div>
    <div class="row text-block-center">
        <h1>Zamiana ról</h1>
        <p style="text-align: justify;">
            Hejter. to aplikacja webowa, która wprowadza graczy do gry w pozycję osób, które są cyberprzestępcami a tym samym uzyskać wgląd w różne taktyki i metody wykorzystywane przez hejterów, trollów a czasami nieświadomie przez kolegów czy znajomych.
            <br><br>
            Gra działa w sposób prosty i bezpośredni sposób: graczom wyświetlany jest krótki tekst lub obraz (np. mem lub nagłówek artykułu) i może na nie reagować na różne sposoby przeciągając kartę na prawą lub lewą stronę. Im bardziej szkodliwa jest decyzja gracza tym więcej punktów dostaje co umieszcza go wyżej w rankingu. 
       </p>
    </div>
    <div class="row text-block-center">
        <h1>Mechanika</h1>
        <p style="text-align: justify;">
            Gracz ma za zadanie wybierać jak najgorzej, im więcej popsuje tym lepiej!
        </p>
    </div>
    <div class="row text-block-center">
        <h1>Dlaczego? Dlaczego? Dlaczego?</h1>
        <p style="text-align: justify;">
            To proste! Dorosły ze znużeniem będzie słuchał o setkach historii pokrzywdzonych w internecie osób. Żeby zwiększyć zaangażowanie dorosłych, tym samym długoterminowo zwiększając ich świadomość, pozwalamy im być tym złym. Gracz motywowany punktami będzie starał się wyrządzić jak najwięcej zła, dzięki czemu na własne oczy zobaczy, jak przykładowo cyberprzestępcy wykorzystują zdjęcia a hejterzy hejtują. Wszystko to opiera się na mocnym fundamencie naukowym, czyli teorii inokulacji.
        </p>
    </div>

    <div class="row text-block-center">
        <h1>Teoria inokulacji</h1>
        <p style="text-align: justify;">
            Teoria inokulacji przyjmuje koncepcję szczepienia, gdzie jesteśmy narażeni na słabą formę wirusa (też hejtu!) w celu zbudowania odporności na prawdziwego wirusa i zastosowania go do wiedzy. Zaszczepianie hejtu wymaga dwóch elementów. Po pierwsze, zawiera wyraźne ostrzeżenie o niebezpieczeństwie (chodzi o to, żeby wywołać czujność i przygotować "organizm"). Po drugie, po spotkaniu z hejtem powinien on zostać dobrze wyjaśniony.   
        </p>
    </div>
    <div class="row text-block-center">
        <h1>Grywalizacja</h1>
        <p style="text-align: justify;">
            Ranking pozwala graczom porównać swoje umiejętności z umiejętnościami innych. Ludzie są psychologicznie uwarunkowani do dostrzegania rzeczy w perspektywie, kontekście i ranking w grach zapewnia właśnie taki kontekst. Punkty zdobyte za postęp w grze są dodatkową motywacją do dalszej zabawy! Dzięki systemowi rejestracji każdy gracz może mieć swoje konto, dzięki czemu może na bieżąco zdobywać punkty.
        </p>
    </div>
    <div class="row text-block-center">
        <h1>Modularność</h1>
        <p style="text-align: justify;">
            Każda karta jest częścią talii (czyli przykładowo scenariusza związanego z publikacją czyichś zdjęć bez zgody). Dzięki temu można szybko dodawać nowe tematy, przykładowo przed warsztatami lub po incydencie w sieci.
            <br><br>
            Aktualnie Hejter. ma możliwość budowy talii i projektowania kart (treść, zdjęcie, punkty) w podstawowej niegraficznej wersji tak zwanego trybu architekta.
        </p>
    </div>
    <div class="row text-block-center">
        <h1>Wizja dla projektu</h1>
        <p style="text-align: justify;">
            Hejter. byłby idealnym zakończeniem warsztatów edukujących o przemocy w internecie, tym samym czyniąc go użytecznym narzędziem do cementowania i ciekawego powtórzeni wiedzy przy takich kampaniach jak "Stop Hejt".
        </p>
    </div>
    <div class="row text-block-center">
        <h1>Rozwój projektu</h1>
        <p style="text-align: justify;">
            Hack4Lem był świetną okazją do stworzenia czegoś nowego, w przyszłości chciałbym skupić się na tych elementach:
            <ol style="text-align:left">
                <li>Poprawa responywności strony</li>
                <li>Rozbudowa modułu architekta</li>
                <li>Dodanie odznak w celu polepszenia doświadczeń z grywalizacji</li>
                <li>Konsultacje scenariuszy z pyschologami</li>
            </uol>
            
            
            
        </p>
    </div>
{% endblock %}

