{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" href="{% static 'images/icon.ico' %}" type="image/gif" sizes="16x16">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <title>Hejter.{% block title %}{% endblock %}</title>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg">
        <div class="navbar-nav">
            <a class="nav-item nav-link rev-square" href="{% url 'feed:index' %}">&#9632;</a>
            {% if user.is_authenticated %} 
            <span class="nav-item nav-link nickname">{{ user.username }}</span>
            <a class="nav-item nav-link login-logout" href="{% url 'feed:logout' %}">Wyloguj się</a> 
            {% else %} 
                <a class="nav-item nav-link login-logout" href="{% url 'feed:login' %}">Zaloguj się</a> 
            {% endif %} 
                 
        </div>
    </nav>
    <div class="container">
        {% block content %}
            <!-- place where specific html will be injected. -->
        {% endblock %}
    </div>
    <nav class="navbar fixed-bottom navbar-expand-lg">
        <div class="navbar-nav">
            <a class="nav-item nav-link square" href="{% url 'feed:index' %}">&#9632;</a>
            <a class="nav-item nav-link" href="{% url 'feed:index' %}">Hejter<span>.</span></a>
            <a class="nav-item nav-link" href="{% url 'feed:about' %}">O projekcie</a>
            <a class="nav-item nav-link" href="{% url 'feed:ranking' %}">Ranking</a>
            <!-- To be toggled in Django admin -->
            {% if user.player.architect %} 
                <a class="nav-item nav-link" href="{% url 'feed:architect' %}">Architekt</a>
            {% endif %}
            <a class="nav-item nav-link" href="{% url 'feed:contact' %}">Kontakt</a>                
        </div>
    </nav>
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>
