{% extends "feed/base.html" %}
{% load static %}

{% block content %}
<div class="row text-block-center">
    <h1 id="blur-0">Wynik: {{ user.player.score }}</h1>
    {% if cards %}
        {% for card in cards %}
            {% if card.is_active %}
            <div class="row justify-content-center tinder">
                <div class="tinder--status">
                    {% if card.category == 'ACT' %}
                        <p id="reject" class="text-remove no-blur">{{ card.reject_choice_info }}</p>
                    {% endif %}
                    <p id="accept" class="text-heart no-blur">{{ card.accept_choice_info }}</p>
                </div>
                <div  class="tinder--cards">
                    <div id="blur-1" class="col-7 tinder--card card">
                        <div class="card-header">
                            <h1>{{ card.title }}</h1>
                        </div>
                        {% if card.image %}
                            <img class="card-img-top" src="{{ card.image.url }}" alt="">
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text">{{ card.text }}</p>
                        </div>
                        <div class="card-footer">
                            {% if card.category == 'ACT' %}
                                <form action="{% url 'feed:reject_choice' %}" method="POST" >
                                    {% csrf_token %}
                                    <input type="hidden" name="reject-choice" value="{{ card.id }}">
                                    <button class="btn btn-dark" type="submit" id="reject-choice"><a>{{ card.reject_choice_info }}</a></button>
                                </form>
                            {% endif %}
                            <form action="{% url 'feed:accept_choice' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="accept-choice" value="{{ card.id }}">
                                <button class="btn btn-dark" type="submit"  id="accept-choice"><a>{{ card.accept_choice_info }}</a></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}

